/* styles/spaceship-ui.css */
  

.circle-container {
  width: 500px;
  height: 500px;
  position: relative;

}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(128, 198, 209, 0.2); /* Teal-300 with 20% opacity */
  position: relative;
}

.vertical-line,
.horizontal-line,
.compass-line {
  position: absolute;
  background-color: rgba(128, 198, 209, 0.3); /* Teal-300 with 30% opacity */
}

.vertical-line {
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.horizontal-line {
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.compass-line {
  width: 2px;
  height: 50%;
  left: 50%;
  top: 75%;
  transform-origin:top; /* Change the anchor to the center of the parent circle */
  transform: translate(-50%, -50%);
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

