


.circle-container {
  height: min(80vw, 80vh);
  width: min(80vw, 80vh);
  position: relative;
}

.circle {
  height: min(80vw, 80vh);
  width: min(80vw, 80vh);
  border-radius: 50%;
  background-color: rgba(128, 198, 209, 0.2);
  position: relative;
}

.vertical-line,
.horizontal-line,
.compass-line {
  position: absolute;
  background-color: rgba(128, 198, 209, 0.1);
}

.vertical-line {
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.horizontal-line {
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.compass-line {
  width: 2px;
  height: 50%;
  left: 50%;
  top: 25%;
  transform-origin: bottom;
  transform: translate(-50%, -50%);
  animation: rotate 5s linear infinite;
}

.radar-dot {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgba(128, 198, 209, 0.6);
  border-radius: 50%;
  opacity: 0;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes blip {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.health-container {
  width: 100%;
  padding-left:55px;
  position: relative;
  height: 30px;
  margin-top: 10px;
}

#health-bar {
  width: 100%;
  height: 24px;
  display: flex;
  gap: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.health-strip {
  height: 100%;
  flex: 1;
  background-color: rgb(94 234 212);
  transform: skewX(-15deg);
  transition: all 0.3s ease;
  display: block;
}

.health-strip.lost {
  background-color: rgba(255, 0, 0, 0.2);
}

.health-text {
  position: absolute;
  left: 0px;
  top: 1px;
  color: rgb(94 234 212);
  font-weight: bold;
  transform: skewX(-15deg);
  z-index: 10;
}

.sound-toggle {
  background: rgba(94, 234, 212, 0.1);
  border: 2px solid rgb(94, 234, 212);
  color: rgb(94, 234, 212);
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.sound-toggle:hover {
  background: rgba(94, 234, 212, 0.2);
}

.sound-toggle::before {
  content: '';
  position: absolute;
  
  border: 1px solid rgb(94, 234, 212);
  border-radius: 14px;
  opacity: 0.5;
}

.latitude-display {
  background: rgba(94, 234, 212, 0.1);
  border: 2px solid rgb(94, 234, 212);
  color: rgb(94, 234, 212);
  width: 120px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  transition: all 0.3s ease;
  position: relative;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: rgb(94, 234, 212);
  opacity: 0.5;
  margin: 0 10px;
}

.icon-container {
  width: 20px;
  height: 20px;
}

.latitude-display::before {
  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px solid rgb(94, 234, 212);
  border-radius: 14px;
  opacity: 0.5;
  left: -2px;
  top: -2px;
}
.longitude-display {
  background: rgba(94, 234, 212, 0.1);
  border: 2px solid rgb(94, 234, 212);
  color: rgb(94, 234, 212);
  width: 120px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  transition: all 0.3s ease;
  position: relative;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: rgb(94, 234, 212);
  opacity: 0.5;
  margin: 0 10px;
}

.icon-container {
  width: 20px;
  height: 20px;
}

.longitude-display::before {
  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px solid rgb(94, 234, 212);
  border-radius: 14px;
  opacity: 0.5;
  left: -2px;
  top: -2px;
}
.pulse-path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: pulse 8s linear infinite;
  filter: drop-shadow(0 0 2px rgb(94 234 212));
}

@keyframes pulse {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: -200;
  }
}







