
    <div class="longitude-display">
      <div class="icon-container">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16M8 4v16M16 4v16"/>
        </svg>
      </div>
      <div class="divider"></div>
      <div id="longitude-value" class="font-mono">000.000</div>
    </div>
