---
interface Props {
  title: string;
  speed: string;
  latitude: string;
  longitude: string;
}
const { title, speed,latitude,longitude } = Astro.props;
---

<div>
    <h1>Spaceship UI</h1>
    <canvas id="compass" width={200} height={200}></canvas>
    <ul>
      <li class="indicator">
        Speed: <span>{speed}</span>
      </li>
      <li class="indicator">
        Latitude: <span>{latitude}</span>
      </li>
      <li class="indicator">
        Longitude: <span>{longitude}</span>
      </li>
    </ul>
    <div class="health-bar">
      <div class="health-bar-fill"></div>
    </div>
  </div>