---
import Head from "../components/Head.astro";
import Style from "../components/Style.astro";
const { title } = Astro.props;
---


<html lang="en">
  
  <Head title={title}/>
  
  <body class="bg-black">
    
      <slot /> 
    
      
  </body>
  <Style></Style>
</html>